<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>index</title>
</head>
<body>
    Hello World!
    <br>
    <br>
    <br>

    <h1>사용자의 이름을 입력해주세요</h1>
    <form action="{%url 'hello'%}">
        <textarea name='text_area' cols=20 rows=1></textarea>
        <br>
        <input type="submit" value="제출">
    </form>
    <br>
    <br>
    <a href="{%url 'wordCount'%}">
        wordCount 실습
    </a>
</body>
</html>