.board-box {
  /* flex: 0 0 auto; */
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
  display: flex;
  /* font-size: 0.8rem; */
}

.info-box {
  flex: 5.5;
}

.loading-box {
  flex: 4.5;
}

.miniroom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.box-title {
  font-size: larger;
  font-weight: bolder;
  color: #944b9d;
  border-bottom: 1.5px solid grey;
}

.info {
  display: flex;
  font-size: 0.8rem;
  margin: 4px 0;
  line-height: 1.5;
}

/* .info-box,
.loading-box {
  flex-basis: 50%;
} */

.title {
  font-size: larger;
  font-weight: bolder;
  color: #944b9d;
  /* border-bottom: 1.5px solid grey;
  width: 170px; */
}

.info-title {
  border-bottom: 1.5px solid grey;
  width: 80%;
}

.loading-title {
  border-bottom: 1.5px solid grey;
  width: 95%;
}

.icon {
  padding: 0 10px;
  margin-right: 6px;
  color: white;
  border-radius: 3px;
  font-size: small;
}

.name-icon {
  background-color: #6b66ff;
}

.part-icon,
.club-icon,
.major-icon {
  background-color: rgb(109, 44, 69);
}

.major-icon {
  line-height: 3.2;
}

.loading {
  display: flex;
  border-bottom: 1px dashed grey;
  width: 95%;
  margin: 4px 0;
}

.lang {
  flex: 1;
  line-height: 1.5;
  font-size: 0.8rem;
}

.miniroom-img-box {
  /* border: 1px solid #808080; */
  flex: 1;
  display: flex;
  margin: 7px 0 10px 0;
}

.miniroom-img-box > img {
  border-radius: 8px;
}

.profile-username > span {
  justify-content: center;
  align-items: center;
  display: flex;
}
