.row4 {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(170, 170, 170);
  font-family: "Single Day", cursive;
}

.parent {
  width: 90%;
  margin: 5px 0 0 30px;
}

.news {
  float: left;
  width: 30%;
}

.empty {
  float: left;
  width: 30%;
}

.loading {
  float: right;
  width: 30%;
}

.news {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
  font-size: larger;
  font-weight: bolder;
  color: #944b9d;
}

.news::after {
  border-bottom: 1.5px solid rgb(143, 143, 143);
  width: 197px;
  content: "";
  display: block;
}

.loading {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  margin: 15px 30px 0;
  font-size: larger;
  font-weight: bolder;
  color: #944b9d;
}

.loading::after {
  border-bottom: 1.5px solid rgb(143, 143, 143);
  width: 170px;
  content: "";
  display: block;
}

.news1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin: 5px 30px 10px;
  font-family: "Single Day", cursive;
}

.img img {
  border-radius: 8px;
}

.room {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  margin: 10px 30px 0;
  border-bottom: 1.5px solid rgb(143, 143, 143);
  font-size: larger;
  font-weight: bolder;
  color: #944b9d;
}

.room1 {
  flex: 7 7 auto;
  display: flex;
  flex-direction: column;
  margin: 5px 30px 20px;
}

.room1 > img {
  border-radius: 8px;
  border: 1px solid rgb(143, 143, 143);
}

.column6 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.column7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.column8 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.column9 {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.column10 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.column11 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.column12 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.column13 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.loading1 {
  margin-left: 75px;
  flex: 1;
  flex-direction: column;
}

.loading2 {
  margin-left: 57px;
  flex: 1;
  flex-direction: column;
}

.loading3 {
  margin-left: 75px;
  flex: 1;
  flex-direction: column;
}

.loading4 {
  margin-left: 70px;
  flex: 1;
  flex-direction: column;
}

.loading4 img {
  width: 20px;
}

.name_icon {
  flex: 0.27;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(127, 127, 185);
  border-radius: 5px;
  color: white;
}

.name {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.part_icon {
  flex: 0.27;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(109, 44, 69);
  border-radius: 5px;
  color: white;
}

.part {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.club {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.major {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.club_icon {
  flex: 0.12;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(109, 44, 69);
  border-radius: 5px;
  color: white;
}

.major_icon {
  flex: 0.12;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(109, 44, 69);
  border-radius: 5px;
  color: white;
}
