/*활동*/

.line1 {
    border-top: 1px solid #747474;
    margin: 30px auto;
    width: 900px;
    position: relative;
    left: 50px; top:700px;
} 

.allCareer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
} 

.carrer1{
    position: absolute;
    left: 50px; top:700px;
    text-align: center;
}

.carrer2{
    position: absolute;
    left: 100px; top:700px;
    text-align: center;
}

