<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Todo 등록</h1>
  <form action="{% url 'crudApp:create' %}" method="POST">
    {% csrf_token %}
    <label for="title">title</label>
    <input type="text" name="title"/><br><br>
    <label for="content">content</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <input type="submit" value="등록하기">
  </form>
</body>
</html>