<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> 김다예의 TODO List</h1>
    <a href = "{% url 'create' %}"><button>새글 등록</button></a>
    <hr>
    <body>
        {%for obj in todo %}
        <p>게시물 번호 : {{obj.pk}}</p>
        <a href = "{% url 'detail' obj.pk %}"><h3>제목 : {{obj.title}}</h3></a>
        <br><br><br>
        {%endfor%}
    </body>
</body>
</html>